body {
    background-color: #d0e4fe;
	background-image: 
	radial-gradient(circle at 100% 150%, #A1C5E6 24%, #B4D4FF 25%, #B4D4FF 28%, #A1C5E6 29%, #A1C5E6 36%, #B4D4FF 36%, #B4D4FF 40%, transparent 40%, transparent),
	radial-gradient(circle at 0    150%, #A1C5E6 24%, #B4D4FF 25%, #B4D4FF 28%, #A1C5E6 29%, #A1C5E6 36%, #B4D4FF 36%, #B4D4FF 40%, transparent 40%, transparent),
	radial-gradient(circle at 50%  100%, #B4D4FF 10%, #A1C5E6 11%, #A1C5E6 23%, #B4D4FF 24%, #B4D4FF 30%, #A1C5E6 31%, #A1C5E6 43%, #B4D4FF 44%, #B4D4FF 50%, #A1C5E6 51%, #A1C5E6 63%, #B4D4FF 64%, #B4D4FF 71%, transparent 71%, transparent),
	radial-gradient(circle at 100% 50%, #B4D4FF 5%, #A1C5E6 6%, #A1C5E6 15%, #B4D4FF 16%, #B4D4FF 20%, #A1C5E6 21%, #A1C5E6 30%, #B4D4FF 31%, #B4D4FF 35%, #A1C5E6 36%, #A1C5E6 45%, #B4D4FF 46%, #B4D4FF 49%, transparent 50%, transparent),
	radial-gradient(circle at 0    50%, #B4D4FF 5%, #A1C5E6 6%, #A1C5E6 15%, #B4D4FF 16%, #B4D4FF 20%, #A1C5E6 21%, #A1C5E6 30%, #B4D4FF 31%, #B4D4FF 35%, #A1C5E6 36%, #A1C5E6 45%, #B4D4FF 46%, #B4D4FF 49%, transparent 50%, transparent);
	background-size:20px 10px;
	margin: 0 1%;
	padding:0;
	min-height:100%;
}
@font-face {
   font-family: SensArmadillo;
   src: url('SensArmadillo.ttf');
}
#wrapper{
	min-height:90%;
}
h1 {
	min-height:10%;
    color: green;
    text-align: center;
}
#menu{
	height:50px;
	width:100%;
	background-color:#A1C5E6;
	border:1px solid;
	white-space: nowrap;
	display:inline-block;
	overflow-x:auto;
	overflow-y:hidden;
}
#menu1{
	float:left;
	height:100%;
	width:50%;
	text-align:left;
	margin-top:3px;
}
#menu2{
	float:right;
	width:50%;
	height:100%;
	text-align:right;
}
#cuerpo{
	overflow:auto;
}
#footer{
	height:auto;
	width:100%;
	background-color:#A1C5E6;
	border:1px solid;
	text-align:center;
	bottom:0;
}
a.btnmenu {
  background: #2fde75;
  background-image: -webkit-linear-gradient(top, #2fde75, #2fde75);
  background-image: -moz-linear-gradient(top, #2fde75, #2fde75);
  background-image: -ms-linear-gradient(top, #2fde75, #2fde75);
  background-image: -o-linear-gradient(top, #2fde75, #2fde75);
  background-image: linear-gradient(to bottom, #2fde75, #2fde75);
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  font-family: SensArmadillo;
  font-weight:bold;
  color: #000000;
  font-size: x-large;
  padding: 5px 1% 5px 1%;
  text-decoration: none;
  margin: 0 1.5% 0 1.5%;
  position:relative;
  top:18%;
}
a.btnmenu:hover {
  background: #1f8245;
  background-image: -webkit-linear-gradient(top, #1f8245, #2fde75);
  background-image: -moz-linear-gradient(top, #1f8245, #2fde75);
  background-image: -ms-linear-gradient(top, #1f8245, #2fde75);
  background-image: -o-linear-gradient(top, #1f8245, #2fde75);
  background-image: linear-gradient(to bottom, #1f8245, #2fde75);
  text-decoration: none;
}
a.btnmenu:active{
  background: #1c6e3d;
  background-image: -webkit-linear-gradient(top, #1c6e3d, #1c6e3d);
  background-image: -moz-linear-gradient(top, #1c6e3d, #1c6e3d);
  background-image: -ms-linear-gradient(top, #1c6e3d, #1c6e3d);
  background-image: -o-linear-gradient(top, #1c6e3d, #1c6e3d);
  background-image: linear-gradient(to bottom, #1c6e3d, #1c6e3d);
  text-decoration: none;
}
a.btncomun{
	font-family:SensArmadillo;
	color:#000F00;
	text-decoration:underline;
	font-size:x-large;
}